@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.weather__con {
  border: 3px solid #7cfff0a4;
  border-radius: 10px;
  padding: 2%;
  box-shadow: rgba(17, 12, 46, 0.25) 0px 48px 100px 0px;
}

.user__input {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}

.user__input input,
.user__input button {
  font-family: 'Poiret One', cursive;
  border: 1px solid #7cfff0a4;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.5);
  font-size: 1em;
}

.title__con {
  display: flex;
}
